:root {
	--typewriterSpeed: 100s;
	--typewriterCharacters: 12;
}
#title-title,
#title-name,
#title-description {
	/* display: block; */
	/* position: relative; */
	/* width: auto; */
	align-self: center;
	text-align: center;
}
#intro-bottom {
	bottom: 0vh;
	position: absolute;

	color: #c81b46;
	text-shadow: 2px 2px 20px#c81b46;
	margin: 20px;
}
#title-name-bot,
#title-title-bot {
	font-family: "Press Start 2P", sans-serif;
}

#intro-atricle {
	height: 100vh;
	width: 100%;
	position: fixed;
	display: block;
	z-index: 10;
	color: azure;
	text-align: center;
	top: 0vh;
	padding-top: 10vh;
	font-size: 3rem;
	background-color: #11052dbb;
}
#blinking {
	position: relative;
	display: inline-block;
	height: 1em;
	width: 0.2em;
	background-color: #c81b46;
	-webkit-animation: typewriter var(--typewriterSpeed)
			steps(var(--typewriterCharacters)) 1s forwards,
		blink 750ms steps(var(--typewriterCharacters)) infinite;
	animation: typewriter var(--typewriterSpeed)
			steps(var(--typewriterCharacters)) 1s forwards,
		blink 750ms steps(var(--typewriterCharacters)) infinite;
}

#title-description {
	font-weight: 200;
	color: #fff3f6;
	border-bottom: 1px solid #ff82a1;
	font-family: "Press Start 2P", sans-serif;
	text-shadow: 2px 2px 20px#eebcbc;
	padding-left: 1em;
	padding-bottom: 0.3em;
	font-size: 0.6em;
	width: 80%;
}
#title-title {
	color: #c81b46;
	font-family: "Press Start 2P", sans-serif;
	text-shadow: 2px 2px 20px#c81b46;
	font-size: 1em;
}
#title-name {
	font-family: "Press Start 2P", sans-serif;
	color: #fff;
	text-shadow: 2px 2px 20px#eebcbc;
}
#intro-container {
	display: block;
	width: 100%;
	height: 200vh;
	flex: auto;
	background-color: #11052d;

	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
}

#setup-img {
	align-items: center;
	align-self: center;
	text-align: center;
	color: white;
	display: block;
	position: relative;
	object-fit: contain;
	width: 100%;
	display: block;
	margin: 0 0;
}
#setup-img-container {
	left: 0px;
	position: relative;
	/* bottom: 0vh; */
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	background: url(../res/setup.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 400%;
}
/* Style buttons */
.btn {
	text-decoration: none;
	background-color: #c81b46;
	border: none;
	color: white;
	padding: 12px 30px;
	cursor: pointer;
	font-size: medium;
	margin-left: 10px;
	display: inline-block;
	box-shadow: 2px 2px 20px #c42f54;
}

/* Darker background on mouse-over */
.btn:hover {
	background-color: #c42f54;
}
/* #block {
	height: 100vh;
	width: 100vw;
	background-color: transparent;
	position: absolute;
	display: block;
	z-index: 10;
} */
@media screen and (max-width: 500px) {
	#title-name {
		font-size: 1em;
	}
	#title-description {
		font-size: 0.28em;
	}
	#title-title {
		font-size: 0.38em;
	}
}

@media screen and (max-width: 340px) {
	#title-name {
		font-size: 0.8em;
	}
	#title-description {
		font-size: 0.3em;
	}
	#title-title {
		font-size: 0.3em;
	}
}

@-webkit-keyframes typewriter {
	to {
		left: 100%;
	}
}

@keyframes typewriter {
	to {
		left: 100%;
	}
}

@-webkit-keyframes blink {
	to {
		background: transparent;
	}
}

@keyframes blink {
	to {
		background: transparent;
	}
}
