footer {
	background-color: #11052d;
	color: white;
}
.footer-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.footer-container > li {
	display: block;
	flex: 1;
	padding: 1em;
}

.footer-text {
	font-family: "Press Start 2P", sans-serif;
	font-size: small;
}
.footer-email-container {
	display: flex;
	flex-direction: row;
}
#email-to-p {
	color: white;
	font-size: small;
	font-family: "Press Start 2P", sans-serif;
}
#quick-email-input {
	display: block;
	flex: 6;

	margin: 1em;
	padding: 0.2em;
	border: none;
	background-color: #23114d;
	color: white;
	height: 2em;
}
#quick-email-input:focus {
	border: none;
	outline: none;
}
#quick-email-input::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: rgb(216, 247, 226);
	opacity: 1; /* Firefox */
}

#quick-email-input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: rgb(216, 247, 226);
}

#quick-email-input::-ms-input-placeholder {
	/* Microsoft Edge */
	color: rgb(216, 247, 226);
}

.email-send-button {
	margin: 1em;
	flex: 1;
	display: inline;
	padding: 0.4em 0.5em;
	background-color: #23114d;
	border: none;
	color: white;
	margin-left: 0;
}
.email-container {
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	max-width: 400px;
}

@media screen and (max-width: 450px) {
	#email-to-p {
		font-size: x-small;
	}
}
.footer-container > li {
	flex: 2;
}
#footer-watermark {
	flex: 1;
	text-align: end;
}
.fa-envelope {
	font-size: large;
}
#email-to-a {
	color: white;
	text-decoration: none;
	font: large;
}
