#about-title {
	color: rgb(109, 109, 109);
	font-size: 3em;
	margin: 1em 0em 2em;
	font-weight: 200;
	font-family: "Press Start 2P", sans-serif;
}
#about-description {
	font-family: "Noto Sans Display", sans-serif;
	font-size: 1.3em;
	font-weight: 100;
}
