#skills-title {
	color: rgb(109, 109, 109);

	margin: 1em 0em 2em;
	font-weight: 200;
	font-family: "Press Start 2P", sans-serif;
}

.skill-logo {
	display: block;
	width: 100%;
	position: relative;
}
.skill-title {
	font-size: 1em;
	font-family: "Press Start 2P", sans-serif;
	text-align: center;
	padding-top: 0.3em;
}
.skills-container {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: start;
	/* flex-grow: 3; */
	flex-basis: 3;
}
.skill-container {
	flex: 1;
	max-width: 140px;
	min-width: 140px;
	background-color: white;
	margin: 1em;
	color: #3f3f74;
	padding: 1em;
	border-radius: 20%;
}
.skill-container:hover {
	box-shadow: 2px 2px 2px #3f3f749a;
	background-color: black;
}
